@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

body {
  height: 100dvh;
}

main {
  display: flex;
  height: 100%;
}

.left {
  background-image: url("/imgs/bubbles.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #180c26, #300c5a, #320368);
}

#logo {
  width: 12rem;
  cursor: pointer;
}

#ifrn {
  width: 70%;
}

h1 {
  font-size: 4rem;
  font-family: "Source Code Pro";
  font-weight: 600;
  letter-spacing: 0.5rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: bold;
}

form {
  background-color: #3a1467;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 70%;
}

#user_logo {
  width: 6rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1rem;
}

.password-inputs-container {
  display: flex;
  gap: 1rem;
}

.inputs input {
  width: 100%;
  border-radius: 8px;
  border: 3px solid #8149cc;
  outline: none;
  padding: 0.7rem;
  background-color: #f4effa;
}

.inputs input::placeholder {
  color: #5e4646;
}

.username-container,
.email-container,
.password-container,
.confirm-password-container {
  position: relative;
}

.username-container span,
.email-container span,
.password-container span,
.confirm-password-container span {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-45%);
  z-index: 1;
}

.password-container span,
.confirm-password-container span {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #8c49e5;
}

#hide-password,
#hide-confirm-password {
  display: none;
}

.toast-wrapper {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

input.input-error {
  border-color: var(--red);
}
