main,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#lesson {
  min-height: 100vh;
  background-color: var(--gradient1);
  gap: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#question {
  width: 100vw;
  display: flex;
  align-items: self-start;
  flex-direction: column;
  background-color: var(--purple6);
  padding: 2rem;
  border-radius: 15px;
  border: 2px solid var(--purple2);
  input {
    width: 30vw;
  }
}

#awser {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

#bnt_div {
  display: flex;
  align-self: center;
}

#awser_input {
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 5px 0px 5px 10px;
}

#awser pre,
#awser code {
  background: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  white-space: pre;
  font-size: 1.2rem;
  font-weight: 600;
}
