@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --pureWhite: #fff;
  --white: #f4effaff;
  --purple1: #532b88ff;
  --purple2: #9b72cfff;
  --purple3: #c8b1e4ff;
  --purple4: #180c26;
  --purple5: #2f184b;
  --purple6: #624f9d;
  --red1: #b22b26;
  --green1: #5f9220;
  --green2: #00ff55;
  --blue1: #6b94c4;
  --blue2: #84a7ce;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
  box-sizing: border-box;
}

html,
body,
main {
  width: 100%;
  height: max-content;
}

body,
main {
  display: flex;
  flex-direction: column;
  background-color: var(--purple4);
  color: var(--pureWhite);
}

button {
  background-color: #8c49e5;
  color: var(--pureWhite);
  border-radius: 9999px;
  padding: 0.7rem 0.5rem;
  border: none;
  font-size: 1.2rem;
  width: 8rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #6f36b9;
}

.transparent-button {
  display: flex;
  background-color: transparent;
  width: max-content;
  border-radius: 0;
  padding: 0;
  transition: transform 0.2s ease-in-out;
}

.transparent-button:hover {
  background-color: transparent;
  transform: scale(1.2);
}
article {
  display: flex;
  flex-direction: column;
  background-color: var(--purple4);
  color: var(--pureWhite);
  padding: 2rem;
}

article > h2 {
  align-self: center;
}

code {
  background-color: var(--purple1);
  padding: 0 5px 0;
  border-radius: 4px;
}

a {
  color: var(--blue1);
  text-decoration: none;
  display: flex;
  gap: 4px;
}

h1,
p {
  line-height: 28px;
  margin: 0.5rem;
}

.toast-error {
  display: none;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.8rem;
  padding: 0.2rem 0.8rem;
  background-color: var(--red);
  height: 6rem;
  max-width: 24rem;
}

.toast-error.show {
  animation: shake 0.4s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-12px);
  }
  50% {
    transform: translateX(12px);
  }
  75% {
    transform: translateX(-12px);
  }
  100% {
    transform: translateX(0);
  }
}

.toast-icon {
  width: 2.5rem;
  transform: translateY(8%);
}
