header {
    position: static;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

p {
    max-width: 80%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90dvh;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

button {
    width: fit-content;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

img {
    border: 3px solid var(--gradient1);
    border-radius: 10px;
    width: 54%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}
