@import url('https://fonts.googleapis.com/css2?family=Google+Sans+html:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {
    flex-direction: row;
    padding-top: 6.5rem;
}

.manual {
    border-radius: 0;
    margin-top: -22px;
    background-color: var(--pureWhite);
    z-index: 2;
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
}

.manual > iframe {
    border: none;
    border-radius: 0;
    height: 87dvh;
}

.view {
    display: flex;
    width: 100%;
    height: 44%;
}

@keyframes tabs-open {
  0% {
    opacity: 0;
    transform: translate(-50%, -170%);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -130%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -120%);
  }
}

@keyframes tabs-close {
  0% {
    opacity: 1;
    transform: translate(-50%, -120%);
  }
  50% {
    opacity: 0.2;
    transform: translate(-50%, -140%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -170%);
    display: none;
  }
}

.animate-tabs-open {
    display: block !important;
    animation: tabs-open 0.5s forwards;
}

.animate-tabs-close {
    animation: tabs-close 0.5s forwards;
}

@media (max-width: 768px) {
    .manual {
        position: fixed;
        right: 0;
        transform: translateX(100%);
    }

    .manual > iframe {
        height: 92dvh;
    }

    .open-manual {
        display: block !important;
    }

    .tab {
        padding: 8px 16px !important;
    }

    .view {
        height: 100dvh !important;
    }

    .result > iframe, .panel > div {
        height: 98dvh !important;
    }
}

@media (max-width: 412px) {
    #show_tabs {
        display: block !important;
    }

    .tabs :nth-child(1 of .tab) {
        border-radius: 16px 0 0 16px !important;
    }

    .tabs :last-child {
        border-radius: 0 16px 16px 0 !important;
    }

    .tabs {
        position: fixed;
        display: none;
        opacity: 0.2;
        width: max-content !important;
        padding: 1rem 2rem;
        background-color: var(--gradient1);
        border-radius: 99px;
        z-index: 0;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -120%);
    }
}

#show_tabs {
    display: none;
    background-color: transparent;
    font-size: 2rem;
    font-weight: 300;
    transform: translateX(10%);

    #close_icon {
        display: none;
    }

    .icons > img {
        width: 2rem;
        margin-top: 1rem;
    }
}

.open-manual {
    display: none;
    z-index: 2;
    position: fixed;
    top: 30%;
    right: 0;
    background-color: var(--purple6);
    width: 4rem;
    padding: 2px 2px 4px !important;
    height: 3rem;
    border-radius: 4px 0 0 4px;
    transition: transform 0.5s ease-in-out;
}

#back_wrapper {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
}

.tab {
    cursor: pointer;
    padding: 8px 32px;
    margin: 0 -4px;
    background: var(--purple2);
    color:#000;
    color: var(--pureWhite);
    display: inline-block;
}

.finish-div {
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: flex-end;
}

.header {
    display: flex;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: var(--purple6);
    border-radius: 0;
    padding: 0.1rem 0;
    gap: 1rem;
    width: 100dvw;
}

.nav {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.tabs {
    align-self: flex-end;
    width: 44rem;
}

.tabs :nth-child(1 of .tab) {
    border-radius: 16px 0 0;
}

.tabs :last-child {
    border-radius: 0 16px 0 0;
}

.panels {
  overflow: hidden;
  padding: 0 2rem;
  width: 100%;
  height: 100%;
}

div, iframe {
    border-radius: 0.5rem;
}

.panel {
    position: relative;
    display: none;
    height: 100%;
}

.code > div{
    background-color: var(--purple6);
    border: solid 2px var(--purple2);
    font-family: "Google Sans html", monospace;
    outline: none;
    overflow: auto;
    white-space: pre-wrap;
    padding: 1rem;
    height: 32rem;
}

.result > iframe {
    background-color: var(--pureWhite);
    width: 100%;
    height: 32rem;
    border: none;
}

input[type="radio"] {
    display: none;
}

#html-radio:checked ~ .panels #html-panel,
#css-radio:checked ~ .panels #css-panel,
#js-radio:checked ~ .panels #js-panel,
#result-radio:checked ~ .panels #result-panel {
  display: block;
}

#html-radio:checked ~ .header .tabs #html-tab,
#css-radio:checked ~ .header .tabs #css-tab,
#js-radio:checked ~ .header .tabs #js-tab,
#result-radio:checked ~ .header .tabs #result-tab {
  background-color: var(--purple1);
}
