main {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 4rem;

  h2 {
    margin: 4vw;
    font-size: 4rem;
  }
}

#languages {
  background-color: var(--purple6);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-radius: 20px;
  margin: 0 auto;

  h3 {
    font-size: 2rem;
    margin: 2rem;
  }

  hr {
    width: 78%;
    border: dashed var(--pureWhite) 2px;
  }
}

#start_now_2 {
  padding: 1rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  gap: 1rem;

  h1 {
    margin-left: 10px;
  }

  img {
    width: 4rem;
  }
}

button {
  align-self: center;

  a {
    text-decoration: none;
    color: var(--pureWhite);
  }
}

#start_now {
  margin-bottom: 5rem;
}

.languages_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--purple5);
  width: 20vw;
  height: 40vh;
  border-radius: 10px;
  gap: 1rem;
  position: relative;

  p {
    position: absolute;
    bottom: 2rem;
    font-size: 2rem;
  }
}

.options {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.demonstration {
  display: flex;
  gap: 2rem;

  img {
    width: 90%;
    margin: auto;
    border-radius: 5px;
  }
}

#text_2 {
  margin: 2rem;
}

.text {
  color: var(--pureWhite);
}

.ifrn_students {
  background-color: var(--purple5);
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3rem;
  border-radius: 15px;

  img {
    width: 20vw;
    height: auto;
  }

  p {
    line-height: 4rem;
    font-size: 3rem;
  }
}
footer {
  margin-top: 15rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .ifrn_students {
    height: 18rem;
    p {
      font-size: 0.8rem;
      line-height: 28px;
    }
    img {
      width: 5rem;
    }
  }
  #languages {
    height: 115rem;
    p {
      font-size: 1.5rem;
    }
  }
  main {
    h2 {
      margin-top: 3rem;
      font-size: 3rem;
    }
  }
  .languages_logo {
    width: 40vw;
    height: 30vh;
    p {
      bottom: 0rem;
    }
  }

  .options,
  .demonstration {
    display: flex;
    flex-direction: column;
  }
  .demonstration {
    img {
      width: 13rem;
    }
  }
}
